apiVersion: v1
kind: Service
metadata:
  name: {{app_name}}-service
  labels:
    app: {{app_name}}
spec:
  ports:
  - protocol: {{protocol}}
    port: {{service_port}}
    targetPort: {{container_port}}
  selector:
    app: {{app_name}}
